[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=QMLPlayer
Exec=/usr/bin/QMLPlayer
Icon=/usr/share/icons/hicolor/80x80/apps/QMLPlayer80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
