CVS
.#*

*.patch
*.diff
*.orig
#*.rej
contrib/include
*~
*.mak

# Hidden files are ignored by default with exceptions
.*
!/.gitignore
!/.github
!/.gitmodules
!/.qmake.conf
!/.travis.yml

# .install files in debian/ are generated and ignored
debian/*.install

obj
TestResults
*.pbxuser
*.perspectivev3

*.old
*.log
*.out
*.cache

*.deb

*.git.old*
Makefile*
*.*pro*.user*
*.[oa]
*.so*
*.dll
*.lib
*.exp
*.exe
*.out

#vc files
*.def
*.dep
*.idb
*.layout
*.manifest
*.ncb
*.obj
*.pdb
*.suo
*.user
*.tlh
*.tli


#intel compiler
*.ilk

#dirs
/bin*
/lib*
build
Debug
Release
*.Debug
*.Release

# Ignore temporary Python files
python/PyQtAV.api
python/PyQtAV.pro
python/QtAV.pyi
python/QtAVWidgets.pyi
python/QtAV
python/QtAVWidgets

*.fuse*

#qt
*.prl
*moc_*
*.moc
*qrc_res.cpp

#cache
*.swp
