#include "winver.h"
#include "../src/QtAV/version.h" //#include "QtAV/version.h" will fail
//IDI_ICON1               ICON    DISCARDABLE     "QtAV.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION QTAV_MAJOR,QTAV_MINOR,QTAV_PATCH,0
 PRODUCTVERSION QTAV_MAJOR,QTAV_MINOR,QTAV_PATCH,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "Shanghai University->S3 Graphics | wbsecg1@gmail.com"
            VALUE "FileDescription", "Media library based on Qt & FFmpeg. https://github.com/wang-bin/QtAV"
            VALUE "FileVersion", QTAV_VERSION_STR ".0"
            VALUE "LegalCopyright", "Copyright (C) 2012-2013 WangBin"
            VALUE "InternalName", "QtAV"
            VALUE "OriginalFilename", "QtAV.dll"
            VALUE "ProductName", "QtAV"
            VALUE "ProductVersion", QTAV_VERSION_STR ".0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
