<?xml version=\"1.0\" encoding=\"utf-8\"?>
<Package xmlns=\"http://schemas.microsoft.com/appx/2010/manifest\" xmlns:m3=\"http://schemas.microsoft.com/appx/2014/manifest\" xmlns:mp=\"http://schemas.microsoft.com/appx/2014/phone/manifest\">
  <Identity
    Name=\"org.qtav.qmlplayer\"
    ProcessorArchitecture=\"$$lower($$VCPROJ_ARCH)\"
    Publisher=\"CN=930FB10A-C50C-4801-84BA-255229D27D44\"
    Version=\"1.13.0.0\" />
  <mp:PhoneIdentity
    PhoneProductId=\"e556656c-d8e8-49f9-8148-26506e94575a\"
    PhonePublisherId=\"00000000-0000-0000-0000-000000000000\" />
  <Properties>
    <DisplayName>QtAV Video Player</DisplayName>
    <PublisherDisplayName>Lucas Wang</PublisherDisplayName>
    <Logo>assets/logo_store.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language=\"en\" />
  </Resources>
  <Applications>
    <Application
      Id=\"App\"
      Executable=\"QMLPlayer.exe\"
      EntryPoint=\"QMLPlayer.App\">
      <m3:VisualElements
        DisplayName=\"QtAV Video Player\"
        Description=\"A powerful multimedia player for all platforms\"
        BackgroundColor=\"green\"
        ForegroundText=\"light\"
        Square150x150Logo=\"assets/logo_150x150.png\"
        Square44x44Logo=\"assets/logo_44x44.png\">
        <m3:DefaultTile Square71x71Logo=\"assets/logo_71x71.png\"
          Wide310x150Logo=\"assets/logo_310x150.png\">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile=\"square150x150Logo\" />
            <m3:ShowOn Tile=\"wide310x150Logo\" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image=\"assets/logo_480x800.png\" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference=\"portrait\" />
          <m3:Rotation Preference=\"landscape\" />
          <m3:Rotation Preference=\"portraitFlipped\" />
          <m3:Rotation Preference=\"landscapeFlipped\" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      <Extensions>
        <Extension Category=\"windows.fileTypeAssociation\">
          <FileTypeAssociation Name=\"qmlplayer\"> <!-- lower case-->
            <DisplayName>QtAV QMLPlayer</DisplayName>
            <Logo>assets/logo_store.png</Logo>
            <EditFlags AlwaysUnsafe=\"true\" />
            <SupportedFileTypes>
              <FileType>.3gp</FileType>
              <FileType>.3gp2</FileType>
              <FileType>.3gpp</FileType>
              <FileType>.amv</FileType>
              <FileType>.asf</FileType>
              <FileType>.avi</FileType>
              <FileType>.divx</FileType>
              <FileType>.drc</FileType>
              <FileType>.dv</FileType>
              <FileType>.f4v</FileType>
              <FileType>.flv</FileType>
              <FileType>.h264</FileType>
              <FileType>.m2v</FileType>
              <FileType>.m2t</FileType>
              <FileType>.m2ts</FileType>
              <FileType>.mkv</FileType>
              <FileType>.mov</FileType>
              <FileType>.mp2</FileType>
              <FileType>.mp3</FileType>
              <FileType>.mp4</FileType>
              <FileType>.mpeg</FileType>
              <FileType>.mpg</FileType>
              <FileType>.mpg2</FileType>
              <FileType>.mpg4</FileType>
              <FileType>.mts</FileType>
              <FileType>.mtv</FileType>
              <FileType>.mxf</FileType>
              <FileType>.mxg</FileType>
              <FileType>.nsv</FileType>
              <FileType>.nut</FileType>
              <FileType>.nuv</FileType>
              <FileType>.ogg</FileType>
              <FileType>.ogm</FileType>
              <FileType>.ogv</FileType>
              <FileType>.ogx</FileType>
              <FileType>.qt</FileType>
              <FileType>.rm</FileType>
              <FileType>.rmvb</FileType>
              <FileType>.ts</FileType>
              <FileType>.vob</FileType>
              <FileType>.webm</FileType>
              <FileType>.wm</FileType>
              <FileType>.wmv</FileType>
              <FileType>.wtv</FileType>
              <FileType>.y4m</FileType>
              <FileType>.aac</FileType>
              <FileType>.ac3</FileType>
              <FileType>.flac</FileType>
              <FileType>.wma</FileType>
              <FileType>.wav</FileType>
              <FileType>.m4a</FileType>
              <FileType>.m4v</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name=\"internetClient\" />
    <Capability Name=\"musicLibrary\" />
    <Capability Name=\"picturesLibrary\" />
    <Capability Name=\"privateNetworkClientServer\" />
    <Capability Name=\"videosLibrary\" />
  </Capabilities>
  <Dependencies>
    <PackageDependency Name=\"Microsoft.VCLibs.120.00.Phone\" />
  </Dependencies>
</Package>
